<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="main-nav-items">
                <li class="main-item"><a class="active" href="/">Homepage</a></li>
                <li class="main-item"><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="main-heading">Welcome....</h1>
        <img class="main-img" src="https://image.freepik.com/free-vector/hand-drawn-hello-lettering_1217-2538.jpg" alt="">
    </main>
</body>
</html>